.gameSelection {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Jolly Lodger', cursive;
    position: relative;
    overflow: hidden;
}

.backgroundIcon {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.welcomeMinions {
    position: absolute;
    top: 20px;
    font-size: 80px;
    color: #000;
    font-family: 'Jolly Lodger', cursive;
}

.minionIcon {
    position: absolute;
    bottom: 50px;
    right: 50px;
    width: 100px;
    cursor: pointer;
}

.gameSelectionContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.75);
    border-radius: 20px;
    padding: 40px;
    width: 400px;
    text-align: center;
    font-family: 'Jolly Lodger', sans-serif;
}

.selectPlayer {
    font-size: 48px;
    color: #fff;
    margin-bottom: 20px;
    font-family: 'Jolly Lodger', sans-serif;
}

.singlePlayerButton,
.twoPlayerButton {
    margin: 15px 0;
    width: 250px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    background: linear-gradient(90deg, #ff7f4d, #eae256);
    cursor: pointer;
    font-size: 28px;
    color: #0c0010;
    transition: background 0.3s ease;
}

.singlePlayerButton:hover,
.twoPlayerButton:hover {
    background: linear-gradient(90deg, #eae256, #ff7f4d);
}

.navigationButtonss {
    position: absolute;
    top: 20px;
    left: 20px;
    display: flex;
    gap: 10px;
}

.instructionsButton {
    width: 120px;
    height: 40px;
    border-radius: 100px;
    background: linear-gradient(90deg, #ff6c6c, #ffae00);
    color: #1c0024;
    font-size: 16px;
    font-family: 'Inter', sans-serif;
    cursor: pointer;
    border: none;
}

.instructionsButton:hover {
    background: linear-gradient(90deg, #ffae00, #ff6c6c);
}

/* Top-left Minion Icon */
.topLeftMinionIcon {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 80px;
    cursor: pointer;
}

/* Instructions Popup */
.instructionsPopup {
    position: absolute;
    top: 35%;
    left: 87%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.8);
    padding: 20px;
    border-radius: 10px;
    color: #fff;
    width: 300px;
    text-align: center;
    z-index: 10;
}

.instructionsPopup h2 {
    font-size: 36px;
    margin-bottom: 15px;
}

.instructionsPopup p {
    font-size: 24px;
    margin-bottom: 20px;
}

.closeButton {
    padding: 10px 20px;
    font-size: 16px;
    font-family: 'Metal Mania', cursive;
    background: linear-gradient(90deg, #ff6c6c, #ffae00);
    color: #1c0024;
    border: none;
    border-radius: 30px;
    cursor: pointer;
}

